@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
    font-weight: 300;
}

em {
    font-weight: 600;
    font-style: normal;
}

a.link {
    @apply text-cyan-700;
}

a.link:hover {
    @apply underline
}
